/*-------------Content----------------*/
.content { width: 200px; margin: 0 auto; clear: both; padding-top: 20px; -webkit-transition: all .3s; }

/*------------- Four Column Row ----------------*/
ul.iconic { padding-bottom: 40px; }
ul.iconic li { margin-bottom: 10px; }

