/* Page Styling */
body {
  font-size: 1em;
  line-height: 1.5em;
}

.content {
  margin: 0 auto;
  width: 18em;
}

footer {
  text-align: center;
  width: 100%;
}

/* Image replacement */
ul.iconic {
  list-style: none;
}
ul.iconic li {
  list-style-image: none;
  list-style-type: none;
  margin: 0.75em 0;
  padding-left: 0;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* Retina Sprites */
.icons-aperture, .icons-article, .icons-book_alt, .icons-box, .icons-camera, .icons-chart, .icons-cog, .icons-compass, .icons-cursor {
  background-image: url('../images/icons-s3dc32525e4.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding: 1px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-aperture, .icons-article, .icons-book_alt, .icons-box, .icons-camera, .icons-chart, .icons-cog, .icons-compass, .icons-cursor {
    background-image: url('../images/icons-retina-s56b1101d61.png');
    background-repeat: no-repeat;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icons-aperture {
  background-position: 0 0;
}

.icons-article {
  background-position: 0 -168px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-article {
    background-position: 0 -160px;
  }
}

.icons-book_alt {
  background-position: 0 -126px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-book_alt {
    background-position: 0 -120px;
  }
}

.icons-box {
  background-position: 0 -147px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-box {
    background-position: 0 -140px;
  }
}

.icons-camera {
  background-position: 0 -63px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-camera {
    background-position: 0 -80px;
  }
}

.icons-chart {
  background-position: 0 -42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-chart {
    background-position: 0 -40px;
  }
}

.icons-cog {
  background-position: 0 -84px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-cog {
    background-position: 0 -60px;
  }
}

.icons-compass {
  background-position: 0 -21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-compass {
    background-position: 0 -20px;
  }
}

.icons-cursor {
  background-position: 0 -105px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icons-cursor {
    background-position: 0 -100px;
  }
}
