/* Page Styling */
body {
  font-size: 1em;
  line-height: 1.5em;
}

.content {
  margin: 0 auto;
  width: 18em;
}

footer {
  text-align: center;
  width: 100%;
}

ul.iconic {
  list-style: none;
}
ul.iconic li {
  list-style-image: none;
  list-style-type: none;
  margin: 0.75em 0;
  padding-left: 1.5em;
  line-height: 1em;
}

/* Retina Sprites */
.icon-aperture, .icon-article, .icon-book_alt, .icon-box, .icon-camera, .icon-chart, .icon-cog, .icon-compass, .icon-cursor {
  background-image: url('../images/icons-s3dc32525e4.png');
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-aperture, .icon-article, .icon-book_alt, .icon-box, .icon-camera, .icon-chart, .icon-cog, .icon-compass, .icon-cursor {
    background-image: url('../images/icons-retina-s2f0a20924f.png');
    background-repeat: no-repeat;
  }
}

.icon-aperture {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-aperture {
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-article {
  width: 16px;
  height: 16px;
  background-position: 0 -168px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-article {
    background-position: 0 -148px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-book_alt {
  width: 16px;
  height: 16px;
  background-position: 0 -126px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-book_alt {
    background-position: 0 -111px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-box {
  width: 16px;
  height: 16px;
  background-position: 0 -147px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-box {
    background-position: 0 -130px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-camera {
  width: 16px;
  height: 16px;
  background-position: 0 -63px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-camera {
    background-position: 0 -74px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-chart {
  width: 16px;
  height: 16px;
  background-position: 0 -42px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-chart {
    background-position: 0 -37px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-cog {
  width: 16px;
  height: 16px;
  background-position: 0 -84px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-cog {
    background-position: 0 -56px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-compass {
  width: 16px;
  height: 16px;
  background-position: 0 -21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-compass {
    background-position: 0 -19px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

.icon-cursor {
  width: 16px;
  height: 16px;
  background-position: 0 -105px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-cursor {
    background-position: 0 -93px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}
