/* line 3, ../sass/style.scss */
ul.iconic li {
  padding-left: 1.5em;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 13, ../sass/_retina-sprites.scss */
.aperture, .aperture_alt, .arrow_down, .arrow_down_alt1, .arrow_down_alt2, .arrow_left, .arrow_left_alt1, .arrow_left_alt2, .arrow_right, .arrow_right_alt1, .arrow_right_alt2, .arrow_up, .arrow_up_alt1, .arrow_up_alt2, .article, .at, .bars, .bolt, .book_alt, .box, .brush, .brush_alt, .calendar, .calendar_alt_fill, .calendar_alt_stroke, .camera, .cd, .chart, .chat, .chat_alt_fill, .chat_alt_stroke, .check_alt, .clock, .cloud_download, .cloud_upload, .cog, .compass, .cursor {
  background-image: url('../images/icons-s3cba2d8ded.png');
  background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 21, ../sass/_retina-sprites.scss */
  .aperture, .aperture_alt, .arrow_down, .arrow_down_alt1, .arrow_down_alt2, .arrow_left, .arrow_left_alt1, .arrow_left_alt2, .arrow_right, .arrow_right_alt1, .arrow_right_alt2, .arrow_up, .arrow_up_alt1, .arrow_up_alt2, .article, .at, .bars, .bolt, .book_alt, .box, .brush, .brush_alt, .calendar, .calendar_alt_fill, .calendar_alt_stroke, .camera, .cd, .chart, .chat, .chat_alt_fill, .chat_alt_stroke, .check_alt, .clock, .cloud_download, .cloud_upload, .cog, .compass, .cursor {
    background-image: url('../images/icons-retina-s66fe6f5586.png');
    background-repeat: no-repeat;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.aperture {
  width: 16px;
  height: 16px;
  background-position: 0 -17px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .aperture {
    background-position: 0 0;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.aperture_alt {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .aperture_alt {
    background-position: 0 -51px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_down {
  width: 16px;
  height: 16px;
  background-position: 0 -476px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_down {
    background-position: 0 -442px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_down_alt1 {
  width: 16px;
  height: 16px;
  background-position: 0 -204px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_down_alt1 {
    background-position: 0 -238px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_down_alt2 {
  width: 16px;
  height: 16px;
  background-position: 0 -306px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_down_alt2 {
    background-position: 0 -323px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_left {
  width: 16px;
  height: 16px;
  background-position: 0 -561px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_left {
    background-position: 0 -544px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_left_alt1 {
  width: 16px;
  height: 16px;
  background-position: 0 -255px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_left_alt1 {
    background-position: 0 -306px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_left_alt2 {
  width: 16px;
  height: 16px;
  background-position: 0 -442px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_left_alt2 {
    background-position: 0 -357px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_right {
  width: 16px;
  height: 16px;
  background-position: 0 -510px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_right {
    background-position: 0 -527px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_right_alt1 {
  width: 16px;
  height: 16px;
  background-position: 0 -374px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_right_alt1 {
    background-position: 0 -340px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_right_alt2 {
  width: 16px;
  height: 16px;
  background-position: 0 -425px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_right_alt2 {
    background-position: 0 -374px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_up {
  width: 16px;
  height: 16px;
  background-position: 0 -357px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_up {
    background-position: 0 -391px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_up_alt1 {
  width: 16px;
  height: 16px;
  background-position: 0 -221px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_up_alt1 {
    background-position: 0 -255px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.arrow_up_alt2 {
  width: 16px;
  height: 16px;
  background-position: 0 -323px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .arrow_up_alt2 {
    background-position: 0 -289px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.article {
  width: 16px;
  height: 16px;
  background-position: 0 -612px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .article {
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.at {
  width: 16px;
  height: 16px;
  background-position: 0 -68px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .at {
    background-position: 0 -17px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.bars {
  width: 16px;
  height: 16px;
  background-position: 0 -629px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .bars {
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.bolt {
  width: 16px;
  height: 16px;
  background-position: 0 -391px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .bolt {
    background-position: 0 -408px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.book_alt {
  width: 16px;
  height: 16px;
  background-position: 0 -544px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .book_alt {
    background-position: 0 -510px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.box {
  width: 16px;
  height: 16px;
  background-position: 0 -595px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .box {
    background-position: 0 -578px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.brush {
  width: 16px;
  height: 16px;
  background-position: 0 -408px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .brush {
    background-position: 0 -425px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.brush_alt {
  width: 16px;
  height: 16px;
  background-position: 0 -493px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .brush_alt {
    background-position: 0 -476px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.calendar {
  width: 16px;
  height: 16px;
  background-position: 0 -578px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .calendar {
    background-position: 0 -595px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.calendar_alt_fill {
  width: 16px;
  height: 16px;
  background-position: 0 -459px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .calendar_alt_fill {
    background-position: 0 -493px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.calendar_alt_stroke {
  width: 16px;
  height: 16px;
  background-position: 0 -527px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .calendar_alt_stroke {
    background-position: 0 -561px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.camera {
  width: 16px;
  height: 16px;
  background-position: 0 -136px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .camera {
    background-position: 0 -187px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.cd {
  width: 16px;
  height: 16px;
  background-position: 0 -340px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .cd {
    background-position: 0 -272px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.chart {
  width: 16px;
  height: 16px;
  background-position: 0 -102px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .chart {
    background-position: 0 -119px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.chat {
  width: 16px;
  height: 16px;
  background-position: 0 -34px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .chat {
    background-position: 0 -68px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.chat_alt_fill {
  width: 16px;
  height: 16px;
  background-position: 0 -187px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .chat_alt_fill {
    background-position: 0 -153px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.chat_alt_stroke {
  width: 16px;
  height: 16px;
  background-position: 0 -51px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .chat_alt_stroke {
    background-position: 0 -85px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.check_alt {
  width: 16px;
  height: 16px;
  background-position: 0 -272px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .check_alt {
    background-position: 0 -221px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.clock {
  width: 16px;
  height: 16px;
  background-position: 0 -119px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .clock {
    background-position: 0 -102px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.cloud_download {
  width: 16px;
  height: 16px;
  background-position: 0 -238px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .cloud_download {
    background-position: 0 -170px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.cloud_upload {
  width: 16px;
  height: 16px;
  background-position: 0 -170px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .cloud_upload {
    background-position: 0 -204px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.cog {
  width: 16px;
  height: 16px;
  background-position: 0 -153px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .cog {
    background-position: 0 -136px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.compass {
  width: 16px;
  height: 16px;
  background-position: 0 -85px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .compass {
    background-position: 0 -34px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}

/* line 109, ../sass/_retina-sprites.scss */
.cursor {
  width: 16px;
  height: 16px;
  background-position: 0 -289px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 109, ../sass/_retina-sprites.scss */
  .cursor {
    background-position: 0 -459px;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
    -o-background-size: 16px auto;
    background-size: 16px auto;
  }
}
