@import 'retina-sprites';

$sprites: sprite-map("icons/*.png", $spacing: 1px); // import normal sprites
$sprites2x: sprite-map("icons-retina/*.png", $spacing: 2px); // import 2x sprites
@include generate-sprite-map($sprites, $sprites2x);

ul li {
  padding-left: 1.5em;
  @include no-bullet;
}

@include retina-sprite-classes($sprites, $sprites2x);

//.target {
//  @include retina-sprite-item('target', $sprites, $sprites2x);
//}
